*{
    margin: 0;
    padding: 0;
}
/* navbar */

.navbar{
    height: 55px;
    width: 100%;
    background-color: rgb(228, 228, 23);
    align-items: center;
    font-weight: 100;
    font-size: 0.75rem;
    color: rgb(150, 135, 138);
    text-align: center;
    font-size: 35px;
    margin: bottom 0;
}


/*.note{
    margin-left: 300px;
    margin-top: 25px;
    font-size: 1.5rem;
    
}
/*panel*/
nav ul li{
    width: 90px;
    height: 26px;
    padding: 11px;
    overflow: hidden;
    background-color: rgb(31, 94, 94);
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    text-align: center;
    float: left;
    list-style: none;
    cursor: pointer;
    margin-top: 0%;
}
nav ul li:hover{
    background-color: rgb(57, 209, 209);
}
nav ul ul{
    margin-top: 16px;
    margin-left: -13px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}

.panel-ops ul li{
    margin-top: 4px;
    margin-left: -11px;
    display: none;
}
.panel-ops:hover {
    display: block;

}
.panel-ops{
    display: flex;
    color: black;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 25px ;
    cursor: pointer;
}

.border{
    border: 2px solid transparent;
    height: 20px;
}
.border:hover{
    border: 2px solid black;
}
.panel-ops,p{
    justify-content: space-evenly;
    margin-right: 30px;
}
/*hero section*/
.hero{
    background-image: url("ddddd.png");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 0;
}
.events{
    display: flex;
    justify-content: space-evenly;
   margin-top: 10px;
}
.box{
    height: 340px;
    width: 26%;
    background-color: rgb(252, 167, 167);
    border: 12px solid rgb(138, 115, 115);
    background-size: cover;
    display: block;
}
.evt{
 
    margin-top: 10px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    background-size: cover;
    background-color: rgb(252, 167, 167);
}
.evm{
    font-size: 0.90rem;
    margin-left: 20px;
}
.gallery{
    height: 700px;
    margin-top: 10px;
    width: 90%;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 58px;
    background-image: url("AIMS 2025.02_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
li{
    background-size: cover;
}
p ul{
    color: aqua;
}
footer{
    margin-top: 15px;
    }
    .foot-panel1 {
        background-color: #37475a;
        color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 00.85rem;
    }
    .food i{
        margin-right: 10px;
        font-size: 1rem;
    }
    .food a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
    .food {
        background-color: #222f3d;
        color: white;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    ul{
        margin-top: 20px;
    }
    ul a {
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color: #dddddd;
    }
    
    .d{
       border-bottom: none;
       font-size: 1rem;
       color: white;
        margin-top: 3px;
        text-decoration: none;
    }
    
    
